
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="about">
  <h1 class="title">{{title}}</h1>
  <h3>{{info}}</h3>
  
  <div>
    <a href="https://github.com/jkmdev">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://medium.com/@juliakmdev">
      <i class="fab fa-medium-m"></i>
    </a>
    <a href="https://codepen.io/">
      <i class="fab fa-codepen"></i>
    </a>
  </div>

  <h3 class="email">{{email}}</h3>
</div>