@import '../styles';


.app {

    display: flex;
    flex-direction: column;

    .nav {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .page {

        flex: 0 0 100%;
        display: flex;

        .sidebar {

            flex: 1;
            background-color: $void;
            overflow-x: hidden;
            
            @media only screen and (max-width: 1150px) {
                display: none;
            }

        }

        .number-scroll {
            
            @media only screen and (max-width: 1150px) {
                display: none;
            }
        }

        .line-numbers {
            @media only screen and (max-width: 1150px) {
                display: none;
            }
        }

        .content {
            flex: 4.8;
            flex-direction: column;
            display: flex;
        }

        .section {
            @extend %gap;
            margin-left: 20px;
            margin-right: 20px;
        }

        .title {
            padding-bottom: 40px;
            color: $bright;
        }

        .skills {
            
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 1500px) {
                flex-direction: column;
            }
        
        }

        .tools {
            display: flex;
            justify-content: space-between;
        }

        .projects {

            display: flex;
            justify-content: space-between;
            //flex-wrap: wrap;

            @media only screen and (max-width: 1150px) {
                flex-direction: column;
            }

        }
        

    }

}