
<div class="tools">

    <h3 class="title">Languages/Frameworks</h3>

    <div class="tool-tiles">

      <div class="tile">
        <i class="devicon-angularjs-plain colored"></i>
      </div>

      <div class="tile">
        <i class="devicon-angularjs-plain-wordmark colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-javascript-plain colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-typescript-plain colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-bootstrap-plain colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-nodejs-plain colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-express-original colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-java-plain colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-react-original colored"></i>
      </div>

      <div class="tile">
          <i class="devicon-cplusplus-plain colored"></i>
      </div>

    </div>  

    <h3 class="title">Tools</h3>

    <div class="tool-tiles">

        <div class="tile">
          <i class="devicon-mysql-plain colored"></i>
        </div>
  
        <div class="tile">
          <i class="devicon-mongodb-plain colored"></i>
        </div>
  
        <div class="tile">
          <i class="devicon-photoshop-plain colored"></i>
        </div>
  
        <div class="tile">
            <i class="devicon-amazonwebservices-original colored"></i>
        </div>
  
        <div class="tile">
            <i class="devicon-sass-original colored"></i>
        </div>
  
        <div class="tile">
            <i class="devicon-visualstudio-plain colored"></i>
        </div>
  
        <div class="tile">
            <i class="devicon-wordpress-plain colored"></i>
        </div>
  
      </div>  

</div>
