@import '../../../styles';

.sidebar {

    height: 100%;
    position: fixed;
    top: 95px;
    padding-left: 20px;

    ul {
        @extend %clean;
    }

    li {
        padding-left: 38px;
        padding-top: 7px;

        &:hover {
            color: $uranus;
        }

    }

    .fas, .far {
        width: 20px;
    }

}

.active {
    color: $uranus;
}