<div class="sidebar">
  <div (click)="onTitleClick()" class="title">
    <ul *ngIf="showOptions">
      <i class="fas fa-caret-down"></i>
      <i class="fas fa-folder-open"></i>
      {{folderTitle}}
    </ul>
    <ul *ngIf="!showOptions">
      <i class="fas fa-caret-right"></i>
      <i class="fas fa-folder"></i>
      {{folderTitle}}
    </ul>
  </div>
  <ul *ngIf="showOptions">
    <li class="option" [class.active]="isActive(option.startPos, option.endPos)" (click)="goToPosition(option.anchorPos)" *ngFor="let option of options">
      <i class="far fa-file"></i>
      {{option.section}}
    </li>
  </ul>
</div>