
@charset 'utf-8';

//**********COLOURS**********

//blue

$uranus: #1fd5ea;
$neptune: #2fa3f1;
$evening: #4f535d;
$midnight: #282c34;
$void: #21252b;
$black-hole: #1a1d24;
$shadow: #040405;

//red

$bloodmoon: #d4554f;
$blood: #5c1a16;
$sun: #fa8e21; 
$sunflower: #ffbf00;
$bubblegum: #f1447a;

//green

$mint: #01ca96;

//grey

$moon: #90929e;
$bright: #ffffff;

//**********FONTS**********

$main-font: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;

//**********SPACING**********

//*********COMMON**********

%clean {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    outline: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    -moz-outline-style: none;
}

%center-h {
    text-align: center;
}

%gap {
    margin-top: 450px;
}

%font-padding {
    padding-bottom: 10px;
}

%shadow {
    box-shadow: 10px 10px 30px $shadow;
}

%light {
    box-shadow: 0px 0px 200px $uranus;
}

//**********BASE***********

body {
    background-color: $midnight;
    font-family: $main-font; 
    color: $moon;
    padding: 0px;
    margin: 0px;
}

h1 {
    @extend %clean;
}

h2 {
    @extend %clean;
    font-size: 20px;
}

h3 {
    @extend %clean;
    font-size: 16px;
}

h4 {
    @extend %clean;
    font-size: 14px;
}

h5 {
    @extend %clean;
}

h6 {
    @extend %clean;
}

