@import '../../../styles';

.nav {

    background-color: $black-hole;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 601px) {
        align-items: center;
    }

    .logo {

        flex: 1;

        @media only screen and (max-width: 600px) {
            display: none;
        }

        @media only screen and (max-width: 1150px) {
            display: none;
        }

    }

    .title {

        flex: 4.5;

        h2 {
            padding-bottom: 5px;
        }

        @media only screen and (max-width: 600px) {
            margin: 0px;
            text-align: center;
            padding: 5px;
        }

    }

    .contact {

        flex-basis: fit-content;
        background-color: $bloodmoon;
        color: $bright;
        border-radius: 100px;
        font-size: 14px;
        font-weight: bold;
        height: 40px;
        padding: 0px 15px 0px 15px;
        margin-right: 80px;
        @extend %clean;

        @media only screen and (max-width: 600px) {
            margin: 0px;
            text-align: center;
            padding: 5px;
            height: 30px;
        }

        @media only screen and (max-width: 1150px) {
            margin: 0px;
        }

    }

}
